{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/awal.css' %}">
    <title>Document</title>
<body>
    <!--about-->
    <section class="about">
        <div class="container">
            <h1>ABOUT</h1>
            <p>halaman website ini saya buat untuk percobaan
               menyelesaikan tugas UTS mata kuliah tehnik informatika
               dan mohon maaf apabila website ini sangat jauh dari kata sempurna</p>
               <br>
               <br>
        </div>
    </section>
    <footer>
        <div class="container">
        <small> copyright &copy; 2022 - mulyadi, All rights.</small>
        </div>
    </footer>
    
</body>
</body>