{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tengah.css' %}">
    <title>Document</title>
    <!-- <style>
        h4{
            color: aqua;
        }
    </style> -->
</head>
<body>
    <h1>PRODUCT</h1>
<!---->   
    <footer>
        <div class="container">
            <small> copyright &copy; 2022 - mulyadi, All rights reserved.</small>

        </div>
    </footer>
</body>
</html>