section{
    padding: 0%;
}
section h1{
    color: #fff;
    background-color: black;
    text-align: center;
    border: 1px;
    padding-top: 10px;
    padding-bottom: 10px;

}
section p{
    background-color: rgb(209, 183, 183);
    border: 1px solid;
    text-align: center;
}
footer{
    padding: 30px 0;
    background-color: black;
    
}