*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 10px 0;
    background-color: #000;
    
}
body{
    background-color: aqua;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
}
.container{
    width: 80%;
    margin: 0% auto;
}
header{
    border: 0px solid;
    font-size: 100%;
    font-family: monospace;
}
header h1{
    float: left;
    padding: 15px 0;
    color: #000;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #000;
    color: #fff;
}
.active{
    background-color: aqua;
    color: #fff;
}
.img{
    margin-bottom: auto;
    border: 1px;;
}