{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Document</title>
</head>
<body>

<!--header-->
    <div class="medsos">
      <div class="container">
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <header>
      <div class="container">
      <h1>SALAM KENAL YA DI DEFNI</h1>
      <ul>
        <li><a href="awal/"><b>TENTANG</b></a></li>
        <li><a href="tengah/"><b>PRODUK</b></a></li>
        <li><a href="akhir/"><b>KONTAK</b></a></li>
      </ul>
      </div>
    </header>

</body>
</html>